.chat_main
  .chat_main__top
    .chat_main__top__left
      %h2.chat_main__top__left--group テスト
      %ul.chat_main__top__left--list テスト:テスト
      %li.chat_main__top__left--list--member
    .chat_main__top--edit_btn
      = link_to "Edit","#"

  .chat_main__middle
    .chat_main__middle__message
      .chat_main__middle__message__info
        %p.chat_main__middle__message__info--name テスト
        %p.chat_main__middle__message__info--date 2019/12/6(Fri) 00:00:00
      %p.chat_main__middle__message--text テスト
    .chat_main__middle__message
      .chat_main__middle__message__info
        %p.chat_main__middle__message__info--name テスト
        %p.chat_main__middle__message__info--date 2019/12/6(Fri) 00:00:00
      %p.chat_main__middle__message--text テスト
      
  .chat_main__bottom
    %form.chat_main__bottom__message
      .chat_main__bottom__message__box
        .chat_main__bottom__message__box--text type a message
        %label.chat_main__bottom__message__box--image_btn
          = icon('fa', 'image')
          %input{type: "file"}
      .chat_main__bottom__message--send_btn Send