.side_bar
  .side_bar__top
    .side_bar__top__box
      %p.side_bar__top__box--name name
      %ul.side_bar__top__box__menu
        %li.side_bar__top__box__menu--new_btn
          = link_to "#" do
            = icon('fa', 'edit')
        %li.side_bar__top__box__menu--edit_btn
          = link_to "#" do
            = icon('fa', 'cog')
  .side_bar__bottom
    .side_bar__bottom__groups
      %p.side_bar__bottom__groups--name techexpert
      %p.side_bar__bottom__groups--message まだメッセージがありません
    .side_bar_bottom__groups
      %p.side_bar__bottom__groups--name techexpert
      %p.side_bar__bottom__groups--message まだメッセージがありません