* {
  box-sizing: border-box;
}

.side_bar {
  width: 300px;
  color: white;
  &__top {
    background-color: #253141;
    height: 100px;
    line-height: 100px;
    padding: 0 20px;
    &--name { 
      display: inline-block;
      font-size: 16px;
      font-weight: bold;
    }
    &__menu {
      display: inline-block;
      float: right;
      .menu_btn {
        display: inline-block;
      }
      .icon {
        color: white;
        margin-left: 0.5px;
      }
    }
  }
  &__bottom {
    height: calc(100vh - 100px);
    background-color: #2f3e51;
    padding: 0 20px;
    &__groups {
      box-sizing: border-box;
      padding: 20px 0 40px;
      &--name {
        font-size: 15px;
        color: white;
      }
      &--message {
        font-size: 11px;
        color: white;
        margin-top: 5px;
      }
    }
  }
}

.chat_main {
  width: calc(100% - 300px);
  &__top {
    height: 100px;
    padding-left: 40px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #eee;
    &__left {
      float: left;
      &--group {
        font-size: 20px;
        color: #333;
        margin-top: 35px;
      }
      &--list {
        font-size: 12px;
        color: #999999;
        margin-top: 15px;
        .member {
          display: inline-block;
          padding-right: 5px;
        }
      }
    }
  &--edit{
    border: solid 1px #38aef0;
    color: #38aef0;
    float: right;
    height: 40px;
    line-height: 40px;
    margin-top: 28px;
    padding: 0 20px;
    &--btn {
      text-decoration: none;
      color: #38aef0;
      }
    }
  }
  &__middle {
    height: calc(100% - 100px - 90px);
    background-color: #fafafa;
    padding: 46px 40px 0;
    &__message {
      &__info {
        display: flex;
        &--name {
          color: #333333;
          font-size: 16px;
          font-weight: bold;
        }
        &--date {
          color: #999999;
          font-size: 12px;
          padding-left: 10px;
        }
      }
      &__text {
        margin-top: 10px;
        &--content {
          color: black;
          font-size: 14px;
          margin-bottom: 40px;
        }
      }
    }
  }

  &__bottom {
    height: 90px;
    padding: 20px 50px 20px 40px;
    background-color: #d2d2d2;
    &__message {
      border: none;
      float: left;
      height: 50px;
      width: calc(100% - 150px);
    }
    &__box {
      float: left;
      height: 50px;
      padding-right: 10px;
      background-color: white;
      &--text {
        font-size: 20px;
        line-height: 50px;
      }
      .image_btn {
        display: none;
      }
    }
    &--send_btn {
      background-color: #38aef0;
      color: white;
      border: none;
      float: right;
      font-size: 16px;
      height: 50px;
      margin-left: 15px;
      padding: 0 30px;
      }
    }
  }